<div class="container"> 
  <div class="row">
    <div class="col-4">
      <h1> Update Information </h1>
      <%= form_with model: @photo, class: "nifty_form" do |f| %>
        <div class="form-group row">
            <%= f.label :shooting_date, "Date of the shooting", class:'control-label' %>
            <%= f.date_field :shooting_date, required: true, class: "form-control" %>
        </div>
        <div class="form-group row">
            <%= f.label :tag, "Tags", class:'control-label' %>
            <%= collection_select(:photo, :tag_ids, Tag.all.order(:name), :id, :name, {multiple: true}, {multiple: true, class: "form-control"}) %>
        </div>
        <div class="form-group row">
            <%= f.label :photographer, "Photographer", class:'control-label' %>
             <%= f.select(:photographer, options_for_select(@photographers.uniq),{}, {class: "form-control"}) %>
          </div>
        <% @photo.photos.each do |image| %>
            <div class="row show_row">
                      <ul class="list-group">
                        <li class="list-group-item">File name:<p> <%= image.filename %><p></li>
                        <li class="list-group-item">File type:<p> <%= image.content_type %></p></li>
                        <li class="list-group-item">Uploaded:<p> <%= @photo.created_at %></p></li>
                        <% @photo.permissions.each do |permission| %>
                          <li class="list-group-item"><%= link_to 'Download Permission', rails_blob_path(permission, only_path: true) %></li>
                        <% end %>
                      </ul>
            </div>    
        <% end%>
        <div class="form-group row">
            <%= f.submit "Update", class: "btn btn-primary" %> 
        </div>
      </div>
      <% end %>
    </div>
</div>