        <div class="container"> 
            <div class="col-4">
            <h1>Photos</h1>
            </div>
                <div class="card-deck">
                    <% @photos.each do |image_all| %>
            
                        <% image_all.photos.each do |image| %>

                            <div class="col-4">
                                <div class="card show_row">  
                                    <%= link_to (image_tag image.variant( combine_options: { gravity: 'Center', crop: '200x200+0+0' }, quality: 75).processed, class: "card-img-top"), photo_path(image_all) %>
                                    <div class="card-body">
                                        <p class="card-text">Shooting date: <%= image_all.shooting_date %></p>
                                        <p class="card-text">Deletion date: <%= image_all.delete_date %></p>
                                        <p>Tags: <%= raw image_all.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></p>
                                    </div>
                                </div>
                            </div>
                    
                        <% end %>   
                    
                    <% end %>
                </div>
            <div id="back_button_index">
                <% url = request.path_info %>
                    <% if url.include?('tags') %>
                        <%= button_to "Back to Overview", "/", method: :get, class: "btn btn-primary"%>
            </div>
        <% end %>
</div>


 
   