<%= form_with model: @photo, class: "nifty_form" do |f| %>
  <div><%= f.label :shooting_date, "Date of the shooting" %>
  <%= f.date_field :shooting_date, required: true %>
  <div><%= f.label :content, "What does the photo show?" %>
  <%= f.select(:content, options_for_select(@contents.uniq)) %></div>
  <div><%= f.label :photographer, "Who shot the photo?" %>
  <%= f.select(:photographer, options_for_select(@photographers.uniq)) %></div>
  <div><%= f.label :photos, "Select your photos" %>
  <div><%= f.file_field :photos, multiple: true, required: true %></div>
  <div><%= f.label :permissions, "Upload the permissions" %>
  <div><%= f.file_field :permissions, multiple: true, required: true %></div>
  <div><%= f.submit "Create" %></div>
<% end %>
