<% if @photo.download_date == nil || Date.current < @photo.download_date + 365.days %>

<div class="container"> 
        <% @photo.photos.each do |image| %>
        <h1> <%= image.filename %> </h1>
            <div class="row show_row">
                <div class="col-7">
                    <div class="show_image"><%= image_tag image.variant(resize: "600>", quality: 75).processed %></div>
                    <div class="show_button">
                            <%= button_to 'Download Image', photo_download_image_path(@photo), method: :get, class: "btn btn-primary btn-space" %>
                            <%= button_to 'Edit', edit_photo_path(@photo), method: :get, class: "btn btn-primary btn-space"  %>
                            <%= button_to 'Delete', @photo, method: :delete, class: "btn btn-primary btn-space"  %>
                            <%= button_to 'Back to Overview', "/", method: :get, class: "btn btn-primary btn-space"  %>
                    </div>

                    <% @photo.permissions.each do |permission| %>
                        <ul class="show_list"><%= link_to 'Download Permission', rails_blob_path(permission, only_path: true) %></ul>
                    <% end %>
                </div>    
                <div class="col-3">
                    <ul class="list-group">
                        <li class="list-group-item">Shooting date: <%= @photo.shooting_date %></li>
                        <li class="list-group-item">Photographer: <%= @photo.photographer.name %></li>
                        <li class="list-group-item">File name: <%= image.filename %></li>
                        <li class="list-group-item">File type: <%= image.content_type %></li>
                        <li class="list-group-item">Size: <%= (image.byte_size)/1000000.to_f %> MB</li>
                        <li class="list-group-item">Uploaded: <%= @photo.created_at.to_date %></li>
                        <li class="list-group-item">Downloaded: <%= @photo.download_date %></li>
                        <li class="list-group-item">Delete Date: <%= @photo.delete_date %></li>
                    </ul>
                </div>
            </div>
        <% end%>
</div>

<% else %>
    "Sorry, too late!" 
<% end %>
